#title {
  text-align: center;
background-color: #86aba1;
color: white;
}
.main-heading{
  position: relative;
  bottom: 28px;
  height: 600px;
  background-image:url(https://media.istockphoto.com/photos/topview-of-working-business-desktop-picture-id1058045964?k=6&m=1058045964&s=612x612&w=0&h=Idv6XxQYpAiWU0FT7G4biix6w84HKXnpFNwmB3FVf6U=)  ;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
}
.info{
  text-align: right;
  position: relative;
  right: 50px;
  top: 165px;
}
.punch{
  text-align: right;
  position: relative;
  right: 130px;
  top: 140px;
  font-size: 17px;
}
.dbutton{
  position: relative;
  left: 1080px;
  top: 160px;
}
#services {
  padding:0 100px;
  text-align: center;
}
.pricing-column {
  padding: 0 2% 3% 2%;
}
.card-header{
padding:0px!important;
}
.img-design{
  width: 418px;
  height: 200px;
}
.btn-dark:hover {
    background-color: #75cfb8 !important;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.switch{
  position: relative;
  top: 10px;
  left: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: 1s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
section#contact-area {
  background-image: url(https://images.pexels.com/photos/240040/pexels-photo-240040.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  het-align: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  opacity: 0.8;

}
.form-control{
  margin-bottom: 5px;
}
.form-control{
  opacity: 0.5;
}

.contactt{
  margin-left:35%;
}
body {
  background-color: white;
  color: black;
  }

.dark-mode {
  background-color: black;
  color: gray;
}
