.logo{
  height: 100px;
  background-color: #02475e;
}
.logo-img{
  height: 70px;
  width: 180px;
  margin-left: 2%;
  margin-top: 1%;
  margin-right: 19%;
  }
.name{
font-family: 'Josefin Sans', sans-serif;
font-size: 40px;
position: relative;
top: 17px;
color: #ffffff;
}
.center {
  margin: auto;
  /* width: 50%; */
  border: 3px solid #02475e;
  padding: 10px;
}
